@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald|Volkhov');
* { margin: 0;
	padding: 0;
}

body {
	background-color: white;
	text-align: center;

}


h1 {
	letter-spacing: .15em;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 3em;
}

h2, h3, h4 {
	font-family: "Oswald", sans-serif;
	letter-spacing: .15em;
	text-transform: uppercase;
	text-align: center;
}

p {
	font-family: "Montserrat", sans-serif;
}

nav {
	background-color: #510337;
	padding: .5em;
	z-index: 5;
	position: fixed;
	width: 100%;
}

nav a {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

#intro {
	background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../images/hands.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	display: block;
	font-family: "Oswald", sans-serif;
	color: white;
	text-shadow: 2px, 2px, 3px, black;
}

#intro h1 {
	font-size: 10em;
}

#intro h2 {
	font-size: 2em;
	font-family: Montserrat, sans-serif;
	text-align: left;
	text-transform: lowercase;
	padding-bottom: 1em;
}

#intro div {
	position: absolute;
	padding-left: 5%;
	top: 50%;
	transform: translate(0, -50%);
	text-align: left;
}

#intro a {
	background-color: white;
	font-size: 3em;
	padding: .15em;
	border: .15em white solid;
	color: #510337;
	text-align: center;
}

#wedding {
	background-color: white;
	color: #510337;
	padding: 6em 2em;
}

#wedding div {
	display: block;
	padding-top: 7em;
	padding-left: 4em;
	width: 40%;
	float: left;
}

#wedding h3 {
	padding-bottom: 1em;
}

#wedding a {
	font-family: "Montserrat", sans-serif;
	padding-bottom: 1em;
	display: block;
}

#wedding p {
	padding-bottom: 1em;
}

#wedding iframe {
	float: right;
	padding-top: 2em;

}

#story {
	background-color: #510337;
	display: block;
	padding-top: 6em;
	padding-bottom: 6em;
	width: 100%;
	box-sizing: border-box;
	color: white;
}

#story h2 {
	text-align: left;
	padding-right: 2em;
}

#story h3 {
	font-size: 1.5em;
	text-align: left;
}

#story p {
	display: block;
	text-align: left;
	padding-top: .5em;
	padding-left: 2em;
	padding-right: 2em;

}

#story img {
	padding: 2em;
	float: left;
	display: block;
	width: 33.33%;
}

.clearfix:after {
    display: block;
	content: " ";
	clear: both;

    height: 0;
    font-size: 0;
    visibility: hidden;
}

#party {
	display: block;
	clear: left;
	color: #510337;
	padding-top: 6em;
	padding-bottom: 6em;
}

#people{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	padding: 2em;
}

#people div {
	width: 50%;
	padding-bottom: 2em;
}

#registry {
	background-color: #510337;
	color: white;
	padding: 6em 2em;
}

#registry h2 {
	padding-bottom: 2em;
}

#registry img {
	background-color: white;
	width: 20%;
}

#rsvp {
	padding: 6em;
	color: #510337;
}

#rsvp form {
	font-family: "Montserrat", sans-serif;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; /
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical
}

input[type=submit] {
    background-color: #510337;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightgray;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

#mobile {
	display: none;
}

@media screen and (max-width: 1080px) {
	#intro div {
		position: absolute;
		padding-left: 5%;
		top: 50%;
		transform: translate(0, -50%);
		text-align: left;
	}

	#intro h1 {
	font-size: 5em;
	}


	#wedding h2{
		padding: auto;
		text-align: center;
	}
}
	#wedding div{
		float: none;
		text-align: center;
		padding: auto;	
		width: 100%;
	}

	#wedding iframe{
		float: none;
	}

	#story h3 {
		padding-left: 2em;
	}
}

/*NOTE: I added the below media querie that adds the class "mobile" to your html. You may need to adjust some of the spacing issues.*/
@media screen and (max-width: 600px) {
	#mobile {
		display: block;
	}

	nav a {
		float: none;
		width: auto;
		padding: .2em .5em;
		display: none;
	}

	nav:hover a {
		display: block;
	}

	#intro {
	background-size: cover;
	height: 100vw;
	background-attachment: scroll;
	width: 100%;
	}

	#intro h1 {
	font-size: 4em;
	}

	#intro h2 {
		font-size: .75em;
	}

	#intro a {
	background-color: white;
	font-size: 1em;
	padding: .15em;
	border: .15em white solid;
	color: #510337;
	text-align: center;
	}

}
