@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald|Volkhov');
* { margin: 0;
	padding: 0;
}

body {
	background-color: white;
	text-align: center;
	font-family: Lato, sans-serif;
}

h1 {
	letter-spacing: .15em;
}

h2, h3 {
	font-family: "Oswald", sans-serif;
	letter-spacing: .10em;
	text-transform: uppercase;
	text-align: center;
}

p {
	font-family: "Montserrat", sans-serif;
}

nav {
	background-color: grey;
	padding: .5em;
}

nav a {
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding-left: 2em;
	padding-right: 2em;
}

#intro {
	background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../images/header.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	display: block;
	font-family: "Oswald", sans-serif;
	font-size: 6em;
	color: white;
	text-shadow: 2px, 2px, 3px, black;
}

#intro h2 {
	font-size: 40px;
	font-family: Montserrat, sans-serif;
	text-align: left;
}

#intro div {
	position: absolute;
	padding-left: 5%;
	top: 50%;
	transform: translate(0, -50%);
	text-align: left;
}

#intro a {
	background-color: white;
	font-size: 40px;
	padding: 5px;
	border: 2px white solid;
}

.button {
	background-color: white;
	border: none;
	color: black;
	padding: 15px 25px;
	text-align: center;
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	letter-spacing: .25em;
	text-decoration: none;
}

#story {
	background-color: lightgrey;
	display: block;
	padding-top: 2em;
	padding-bottom: 2em;
}

#story h2 {
	text-align: left;
}

#story h3 {
	font-size: 20px;
	text-align: left;
}

#story p {
	display: block;
	text-align: left;
	padding-right: 2em;
}

#story img {
	padding: 2em;
	background-color: lightgrey;
	float: left;
	display: block;
}

#party {
	display: block;
	clear: left;
}

#people{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
}

#people div {
	width: 50%;
}

#registry {
	background-color: lightgrey;
}
