@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald|Volkhov');
* { margin: 0;
	padding: 0;
}

body {
	background-color: honeydew;
	text-align: center;
	font-family: Lato, sans-serif;
}

#intro {
	background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../images/header.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	display: block;
	text-align: left;
	font-family: "Oswald", sans-serif;
	font-size: 6em;
	color: white;
	text-shadow: 2px, 2px, 3px, black;
}

#intro h2 {
	font-size: 40px;
	font-family: Montserrat, sans-serif;
}

#intro div {
	position: absolute;
	padding-left: 5%;
	top: 50%;
	transform: translate(0, -50%);
}

#intro a {
	font-size: 40px;
	padding: 5px;
	border: 2px white solid;
}

#wedding a {
	display: block;
}

h1 {
	letter-spacing: .25em;
}

}
h3, h4 {
	font-family: "Volkhov", serif;
}

p {
	font-family: "Montserrat", sans-serif;
}
